*{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;  
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

    /* strting-page */

.container{
    width: 100%;
    height: 100vh;
    
}
.vidbg{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;    
}

.drinks{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    text-align: center;
    align-items: center;
    padding-top: 70px;
    gap: 200px;
}
.written{
    font-family: cursive;
    color: rgb(255, 255, 255);
    font-size: 250%;
}


.shop{
     padding-left: 30px;
     padding-top: 60px;
}
.shop a{
    font-size: 40px;
    border: 2px solid white;
    padding: 20px 50px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition-duration: 0.5s;
    font-family: cursive;
}
.shop a:hover{
    background-color: rgb(247, 165, 66);
    color: black;
}
/* @media (min-aspect-ratio:16/9) {
    .vidbg{
        width: 100%;
        height: auto;
    }
}

@media (min-aspect-ratio:16/9){
    .vidbg{
        width: auto;
        height: 100%    ;
    }
} */



    /* page-2 */
.nav{
    background-color: rgba(0, 0, 0, 0.903);
    width: 100%;
    height: 70px;
    display: flex;
    position: fixed;
    position: ;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    overflow-x: hidden;
    z-index: 9999;
}
.logo a{
    display: flex;
    text-decoration: none;
    color: rgba(214, 120, 26, 0.856);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo {
    text-align: center;
    font-size: 35px;
}
.logo a span{
     color: rgb(255, 255, 255) ;
}
.search{
    padding-top: 16px;
    

}
.search input{
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 3px;
    border-radius: 60px;
}
.search button{
    padding: 2px 30px;
    border-radius: 30px;
    transition-duration: 0.8s;
    
}

.search button:hover{
    color: rgb(203, 217, 229);
    background-color: rgba(214, 120, 26, 0.712);
    
}

.hm{
    /* display: flex;
    text-align: center; */
    padding-top: 20px;  
    overflow: hidden;
}
.hm a{
    font-size: 20px;
    padding: 12px 23px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    
    text-decoration: none;
    transition-duration: 0.8s;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.hm a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.cardtitle{
    text-align: center;
    color: rgb(113, 103, 103);
}

.home{
    
    overflow-x: hidden;
    
}
.home .card{
    box-shadow: 0 0 1rem rgb(0, 0, 0);
    transition-duration: 0.4s;
    margin-top: 40%;
}
.home .card:hover{
    transform: scale(0.9);
    cursor: pointer;
    
}
.home1{
    margin-top: 10px;
    overflow-x: hidden;
}


/* offers */

/* .secondhm{
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: cover;
    background-image: url(https://res.cloudinary.com/dgpcrs7wm/image/upload/v1729360332/bg_ijczj0.png);
    background-attachment: fixed;
} */ 

.secondhm{
    width: 100%;
    
    
}
.offers{
    margin-left: 95px;
}

.hori{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 150px;

}
.hori1{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 150px;
    
}
.cardetails{
    /* text-align: center; */
}
.secondhm h1{
    padding-top: 90px;
    text-align: center;
    text-shadow: 6px -9px 30px  rgb(0, 166, 255);
    padding-bottom: 30px;
}


.car{
    box-shadow: 0 0 1rem black;
    transition-duration: 0.5s;
    
    padding-left: 20px;
}

.car:hover{
    transform: scale(0.9);
    cursor: pointer;
}

.brnda{
    text-align: center;
}
.brnda h1{
    padding-top: 90px;
    text-align: center;
    text-shadow: 6px -9px 30px  rgb(0, 166, 255);
    padding-bottom: 30px;
}


.bgimage{
    width: 100%;
    height: 30vh;
    background: url(https://res.cloudinary.com/dgpcrs7wm/image/upload/v1729493915/p4_frkksj.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


/* hom2 3 */
/* .galary{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.parent{
    width: 87%;
    margin: 10px;
    height: 280px;
    overflow: hidden ;
}
.parent img{
    height: 100%;
    width: 100%;
    transition-duration: 1s;
}
 .parent img:hover{
    transform: scale(1.2);
} */



